.swatchDisplay {
    position: relative;
    z-index: 3;
}

.swatches {
    display: flex;
    justify-content: space-between;
}

.swatch {
    position: relative;
    display: flex;
    justify-content: center;
    flex-basis: 8%;
    height: 30px;
    border-radius: 3px;
    transition: opacity 1s;
}

.display {
    position: absolute;
    margin: 15px 0;
    height: 800px;
    background-color: #f0f;
    width: 100%;
}

.display > * {
    position: relative;
    object-fit: contain;
    object-position: top;
    opacity: 0;
    transition: opacity .5s;
}

.display > .selected {
    opacity: 1;
}
